body {
    background-color: #e3f9e2;
    color: #488b44;
    font-family: Arial;
    margin: 0px;
    line-height: 1.5; /* межстрочный интервал */
}

header {
    background-image: linear-gradient( to right, #f95451, #ffa749, #fff263, #86ff61, #92f8ff, #6fa4ff, #c384ff);
    color: #e3f9e2;
    padding: 10px;
    font-size: 14pt;
}

footer {
    background-image: linear-gradient( to right, #f95451, #ffa749, #fff263, #86ff61, #92f8ff, #6fa4ff, #c384ff);
    color: #e3f9e2;
    padding: 10px;
    font-size: 14pt;
    font-style: italic;
    text-align: right;
}

a {
    text-decoration: none;
    color: #488b44;
}

a:visited {
    color: rgb(71, 97, 71);
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
}

a:active {
    color: white;
    background-color: red;
}
