body {
    background-color: #e3f9e2;
    color: #488b44;
    font-family: Arial;
    margin: 0px;
    line-height: 1.5; /* межстрочный интервал */
}

header {
    background-image: linear-gradient( to right, #f95451, #ffa749, #fff263, #86ff61, #92f8ff, #6fa4ff, #c384ff);
    color: #e3f9e2;
    padding: 10px;
    font-size: 14pt;
    transition: 1s;
}

footer {
    background-image: linear-gradient( to right, #f95451, #ffa749, #fff263, #86ff61, #92f8ff, #6fa4ff, #c384ff);
    color: #e3f9e2;
    padding: 10px;
    font-size: 14pt;
    font-style: italic;
    text-align: right;
    transition: 1s;
}

a {
    text-decoration: none;
    color: #488b44;
    transition: 2s;
}

a:visited {
    color: rgb(71, 97, 71);
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-size: 110%;
    /* font-weight: bold; */
    transition: 0.3s;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.281);
}

a:active {
    color: white;
    background-color: red;
}

header:hover {
    color: rgb(0, 0, 0);
    transition: 0.3s;
}

header:active {
    color: rgb(0, 0, 0);
    font-size: 16pt;
    transition: 0.3s;
}

footer:hover {
    color: rgb(0, 0, 0);
    transition: 0.3s;
}

footer:active {
    color: rgb(0, 0, 0);
    font-size: 16pt;
    transition: 0.3s;
}

